#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 360px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

.form-group.password-group {
  margin-top: 10px;
}

.form-group.btn-login-group {
  margin-top: 20px;
  text-align: center;
}

.form-group.others-group {
  text-align: left;
}

.form-group #authBtn {
  width: 120px;
}

.btn-login {
  background-color: #87be77;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.btn-login:hover {
  color: black;
  background-color: #c3f7b4;
}

.signup-link {
  color: #1588ca;
  text-decoration: none;
}

.signup-link:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #007bff;
}
