<div class="card" >
    <div class="text-left">
        <h1 class="card-header">Deposits</h1>
    </div>
    <div class="card-body">
        <label class="control-label col-xs-6 col-sm-3 col-md-3 deposit-section-label-width">Balance:</label>
        <span class="col-xs-6 col-sm-3 col-md-2 deposit-section-selection-width">$98.48</span>
        <br>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 deposit-section-label-width">Deposit Remaining Limit:</label>
        <span class="col-xs-6 col-sm-3 col-md-2 deposit-section-selection-width">$2000</span>
        <br>
        <br>
        <span class="control-label check-trx-hist-note">Note: Check <a (click)="navToTrxHistMenu()">transaction history</a> for more details.</span>
        <hr>
        <label class="control-label col-sm-3 deposit-section-label-width">Deposit into OasisBet Account:</label>
        <input type="number" class="col-sm-4 deposit-section-selection-width no-spinner" id="depositAmount" name="depositAmount" required>
        <hr>
        <div mat-dialog-actions align="end">
            <button class="btn btn-danger btn-cancel" type="button" (click)="onCancelDeposit()">
                Cancel
            </button>
            <button class="btn btn-success btn-confirm" type="button" (click)="onConfirmDeposit()">
                Confirm
            </button>
          </div>
    </div>
</div>