.deposit-section-label-width{
    text-align: right;
    font-weight: bold;
}

.deposit-section-selection-width{
    margin-left: 20px;
}

.check-trx-hist-note{
    font-weight: bold;
    margin-left: 20px;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  -moz-appearance: textfield;
}

.btn-confirm {
    margin-top: 30px;
    background-color: #87be77;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100px;
}

.btn-cancel {
    margin-top: 30px;
    background-color: red;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    width: 100px;
    margin-right: 10px;
}

.btn-cancel:hover {
    color: black;
    background-color: rgb(255, 131, 131);
}
.btn-confirm:hover {
    color: black;
    background-color: #c3f7b4;
}