<div class="card" >
    <div class="text-left">
        <h1 class="card-header">Deposits</h1>
    </div>
    <div class="card-body">
        <label class="control-label col-xs-6 col-sm-3 col-md-3 deposit-section-label-width">Balance:</label>
        <span class="col-xs-6 col-sm-3 col-md-2 deposit-section-selection-width">${{accountModelInput?.balance}}</span>
        <br>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 deposit-section-label-width">Deposit Remaining Limit:</label>
        <span class="col-xs-6 col-sm-3 col-md-2 deposit-section-selection-width">${{accountModelInput?.depositLimit}}</span>
        <br>
        <br>
        <span class="control-label check-trx-hist-note">Note: Check <a (click)="navToTrxHistMenu()">transaction history</a> for more details.</span>
        <hr>
        <form>
          <div class="form-group row">
            <label id="DEPOSIT_LABEL_1" for="username_0_Label"
              [ngClass]="{'highlightLabel' : fieldIsInvalid(depositAmt)}" class="control-label col-sm-4 deposit-section-label-width deposit-acc-label-text">
              <span id="DEPOSIT">Deposit:</span>
            </label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input id="depositAmt_0" type="text" maxlength="9" class="form-control allCaps" [formControl]="depositAmt" name="depositAmt">
              </div>
              <label id="depositAmt_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(depositAmt)}" class="error-text"
                for="depositAmt_0">
                <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(depositAmt)) == 'pattern'">Please enter only 1 or 2 decimal places</span>
                <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(depositAmt)) == 'maxAmount'">Maximum amount to deposit is $199999.99</span>
                <span *ngIf="depositAmt.hasError('required') && !depositAmt.value && !depositAmt.pristine">This field is required</span>
              </label>
            </div>
          </div>
        </form>
        <hr>
        <div mat-dialog-actions align="end">
            <button class="btn btn-danger btn-cancel" type="button" (click)="onCancelDeposit()">
                Cancel
            </button>
            <button class="btn btn-success btn-confirm" type="button" (click)="onConfirmDeposit()">
                Confirm
            </button>
          </div>
    </div>
</div>