.card-body label {
    margin-top: 10px;
}

label {
    font-size: 14px;
    position: relative;
    cursor: pointer;
    color: #666;
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
}

.dashboard-sidemenu-value {
    color: #004a80;
    font-size: 17px;
    font-weight: bold;
}

.text_year_to_date{
    font-size: 12px;
}