<div class="card " >
    <div class="text-left">
        <h1 class="card-header">Transaction History</h1>
    </div>
    <div class="card-body">
        <label class="control-label trx-section-label-width">Month To Date</label>
        <br>
        <label class="control-label trx-section-label-width">Bet Placed:</label>
        <span class="col-sm-3 trx-section-selection-width">${{mtdBetAmount}}</span>
        <br>
        <label class="control-label trx-section-label-width">Payout:</label>
        <span class="col-sm-3 trx-section-selection-width">$0</span>
        <hr>
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <label class="control-label trx-section-label-width">View</label>
                <div class="dropdown-section">
                    <select [(ngModel)]="selectedTrxType" (ngModelChange)="ngOnInit()" id="trxViewDropdown"
                      class="form-control trx-dropdown">
                        <option value="funds">Funds In/Out</option>
                        <option value="sportsbet">All Sports Bet</option>
                        <option value="deposit">Deposits</option>
                        <option value="withdrawal">Withdrawals</option>
                    </select>
                    <span class="dropdown-icon"><i class="fas fa-angle-down"></i></span>
                </div>
            </div>
            <div class="col-md-3 offset-md-1">
                <label class="control-label trx-section-label-width">Time Period</label>
                <div class="dropdown-section">
                    <select [(ngModel)]="selectedPeriod" (ngModelChange)="ngOnInit()" id="trxTimePrdDropdown"
                      class="form-control trx-dropdown">
                        <option value="today">Today</option>
                        <option value="last7day">Last 7 Days</option>
                        <option value="last1mth">Last Month</option>
                        <option value="last3mth">Last 3 Months</option>
                        <option value="last6mth">Last 6 Months</option>
                    </select>
                    <span class="dropdown-icon"><i class="fas fa-angle-down"></i></span>
                </div>
            </div>
        </div>
        <br>
        <table class="table" style="table-layout: fixed; width: 100%;">
            <thead class= "table-header">
                <tr>
                  <th style="text-align:center; width: 25%;">Date & Time</th>
                  <th style="text-align:center; width: 45%;">Description</th>
                  <th style="text-align:center; width: 20%;">Amount</th>
                  <th style="text-align:center; width: 10%;"></th>
                </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let trx of trxHistList">
                <tr>
                  <td style="text-align:center; width: 25%;">{{trx.dateTime | date:'medium'}}</td>
                  <td style="text-align:center; width: 45%;">{{trx.desc}}</td>
                  <td style="text-align:center; width: 20%;">{{trx.type == 'W' || trx.type == 'S' ? '-$' + (trx.amount | number : '1.2-2') : '$' + (trx.amount | number : '1.2-2') }}</td>
                  <td style="text-align:center; width: 10%;">
                    <i class="fas" *ngIf="trx.type == 'S'" [ngClass]="{'fa-angle-right': !trx.showDetails, 'fa-angle-down': trx.showDetails}"  
                    (click)="toggleShowDetails(trx)" ></i>
                  </td>
                </tr>
                <tr *ngIf="trx.showDetails && trx.trxBetDetails">
                  <td colspan="4">
                    <table class="table" style="table-layout: fixed; width: 100%;">
                      <thead class="table-header">
                        <tr>
                          <th style="text-align:center; width: 20%;">Start Time</th>
                          <th style="text-align:center; width: 15%;">Competition</th>
                          <th style="text-align:center; width: 25%;">Bet Details</th>
                          <th style="text-align:center; width: 10%;">Bet Type</th>
                          <th style="text-align:center; width: 10%;">Status</th>
                          <th style="text-align:center; width: 20%;">Bet Receipt</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="text-align:center; width: 20%;">{{trx.trxBetDetails.startTime | date:'medium'}}</td>
                          <td style="text-align:center; width: 15%;">{{trx.trxBetDetails.compType}}</td>
                          <td style="text-align:center; width: 25%;">{{trx.trxBetDetails.betDetails}}</td>
                          <td style="text-align:center; width: 10%;">{{sharedVar.mapBetTypeCd(trx.trxBetDetails.betType)}}</td>
                          <td style="text-align:center; width: 10%;">{{trx.trxBetDetails.status ? sharedVar.SETTLED : sharedVar.NOT_SETTLED}}</td>
                          <td style="text-align:center; width: 20%;">{{trx.trxBetDetails.trxId}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </ng-container>
              
              <tr *ngIf='!trxHistList || trxHistList.length == 0'>
                <td class='text-center' colspan=12>
                  No Transaction(s) Found.
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>
