<div class="card" >
    <div class="text-left">
        <h1 class="card-header">Withdrawals</h1>
    </div>
    <div class="card-body">
        <label class="control-label col-xs-6 col-sm-3 col-md-3 withdraw-section-label-width">Balance:</label>
        <span class="col-xs-6 col-sm-3 col-md-2 withdraw-section-selection-width">${{accountModelInput.balance}}</span>
        <br>
        <br>
        <span class="control-label check-trx-hist-note">Note: Check <a (click)="navToTrxHistMenu()">transaction history</a> for more details.</span>
        <hr>
        <div class="form-group row">
            <label class="control-label col-sm-4 withdraw-section-label-width withdraw-acc-label-text">Withdraw from OasisBet Account:</label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="number" class="form-control withdraw-section-selection-width no-spinner" id="withdrawAmount" name="withdrawAmount" required>
              </div>
            </div>
        </div>
        <br>
        <br>
        <div class="form-group row">
            <label class="control-label col-sm-4 withdraw-section-label-width withdraw-acc-label-text">Enter OasisBet Account password:</label>
            <div class="col-sm-4">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="password" class="form-control withdraw-section-selection-width no-spinner" id="password" name="password" required>
              </div>
            </div>
        </div>
        <hr>
        <div mat-dialog-actions align="end">
            <button class="btn btn-danger btn-cancel" type="button" (click)="onCancelWithdrawal()">
                Cancel
            </button>
            <button class="btn btn-success btn-confirm" type="button" (click)="onConfirmWithdrawal()">
                Confirm
            </button>
          </div>
    </div>
</div>