<div class="alert alert-success" *ngIf="responseMsg"><b>Success: </b> {{responseMsg}}</div>
<div class="alert alert-danger" *ngIf="errorMsg"> <b>Fail: </b> {{errorMsg}}</div>
<div class="card ">
  <div class="text-left">
    <h1 class="card-header">Account Update</h1>
  </div>
  <div class="card-body">
    <hr>
      <mat-tab-group animationDuration="0ms">
        <mat-tab label="Contact Info">
          <br>
          <form [formGroup]="updateAccDetailsForm">
            <div class="form-group row mx-0">
              <label id="ACCOUNT_NO_LABEL" for="account_no_0_Label"
                class="control-label col-sm-4 acc-update-section-label-width acc-update-label-text">
                <span id="ACCOUNT_NO">ACCOUNT NO.</span>
              </label>
              <label id="ACCOUNT_NO_INPUT" for="account_no_0_input"
                class="control-label col-sm-4 acc-update-label-text">
                <span id="ACCOUNT_NO"><b>{{accountId}}</b></span>
              </label>
            </div>
            <hr>
            <div class="form-group row mx-0">
              <label id="EMAIL_LABEL" for="email_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(email)}"
                class="control-label col-sm-4 acc-update-section-label-width acc-update-label-text">
                <span id="EMAIL">Email:</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" class="form-control acc-update-section-selection-width no-spinner" formControlName="email"
                    id="email_0" name="email" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                </div>
                  <label id="email_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(email)}" class="error-text"
                    for="email_0">
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(email)) == 'pattern'">Please enter a valid
                      email address</span>
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(email)) == 'maxlength'">Maximum length is 100
                      characters</span>
                    <span *ngIf="email.hasError('required') && !email.value && !email.pristine">This field is required</span>
                  </label>
              </div>
            </div>
            <div class="form-group row mx-0">
              <label id="CONTACT_NO_LABEL" for="contact_no_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(contactNo)}"
                class="control-label col-sm-4 acc-update-section-label-width acc-update-label-text">
                <span id="CONTACT_NO">Contact No:</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="text" class="form-control acc-update-section-selection-width no-spinner" formControlName="contactNo"
                    id="contact_no_0" name="contactNo" required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">
                      <i class="fas fa-pencil-alt"></i>
                    </button>
                  </div>
                </div>
                  <label id="contact_no_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(contactNo)}" class="error-text"
                    for="contact_no_0">
                    <span *ngIf="contactNo.hasError('required') && !contactNo.value && !contactNo.pristine">This field is
                      required</span>
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(contactNo)) == 'pattern'">Please enter only
                      numeric characters</span>
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(contactNo)) == 'maxlength'">Maximum length is
                      30 characters</span>
                  </label>
              </div>
            </div>
          </form>
          <hr>
          <div mat-dialog-actions align="end">
            <button class="btn btn-danger btn-cancel" type="button" (click)="onCancelUpdate()">
                Cancel
            </button>
            <button class="btn btn-success btn-confirm" type="button" (click)="confirmClickedUpdateAccDetails()">
                Confirm
            </button>
          </div>
          <br>
        </mat-tab>
        <mat-tab label="Login information">
          <br>
          <form [formGroup]="updateLoginForm">
            <div class="form-group row mx-0">
              <label id="OLD_PASSWORD_LABEL" for="old_password_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(oldPassword)}"
                class="control-label col-sm-4 acc-update-section-label-width acc-update-label-text">
                <span id="OLD_PASSWORD">Current Password:</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="password" class="form-control acc-update-section-selection-width no-spinner" formControlName="oldPassword"
                    id="old_password_0" name="old_password" required>
                </div>
                  <label id="old_password_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(oldPassword)}" class="error-text"
                    for="old_password_0">
                    <span *ngIf="oldPassword.hasError('required') && !oldPassword.value && !oldPassword.pristine">This field is
                      required</span>
                  </label>
              </div>
            </div>
            <div class="form-group row mx-0">
              <label id="NEW_PASSWORD_LABEL" for="new_password_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(newPassword)}"
                class="control-label col-sm-4 acc-update-section-label-width acc-update-label-text">
                <span id="NEW_PASSWORD">New Password:</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="password" class="form-control acc-update-section-selection-width no-spinner" formControlName="newPassword"
                    id="new_password_0" name="new_password" required>
                </div>
                  <label id="new_password_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(newPassword)}" class="error-text"
                    for="new_password_0">
                  <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(newPassword)) == 'maxlength'">Maximum length is
                    20
                    characters</span>
                  <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(newPassword)) == 'minlength'">Minimum length is 5
                    characters</span>
                  <span *ngIf="newPassword.hasError('required') && !newPassword.value && !newPassword.pristine">This field is
                    required</span>
                  </label>
              </div>
            </div>
            <div class="form-group row mx-0">
              <label id="CFM_NEW_PASSWORD_LABEL" for="cfm_new_password_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(cfmNewPassword)}"
                class="control-label col-sm-4 acc-update-section-label-width acc-update-label-text">
                <span id="CFM_NEW_PASSWORD">Confirm New Password:</span>
              </label>
              <div class="col-sm-4">
                <div class="input-group">
                  <div class="input-group-prepend">
                  </div>
                  <input type="password" class="form-control acc-update-section-selection-width no-spinner" formControlName="cfmNewPassword"
                      id="cfm_new_password_0" name="cfm_new_password" required>
                </div>
                  <label id="cfm_new_password_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(cfmNewPassword)}" class="error-text"
                    for="cfm_new_password_0">
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(cfmNewPassword)) == 'maxlength'">Maximum length
                      is 20
                      characters</span>
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(cfmNewPassword)) == 'minlength'">Minimum length
                      is 5
                      characters</span>
                    <span *ngIf="cfmNewPassword.hasError('required') && !cfmNewPassword.value && !cfmNewPassword.pristine">This
                      field is
                      required</span>
                    <span *ngIf="cfmNewPassword.hasError('passwordMismatch')">Passwords does not match</span>
                  </label>
              </div>
            </div>
          </form>
          <hr>
          <div mat-dialog-actions align="end">
            <button class="btn btn-danger btn-cancel" type="button" (click)="onCancelUpdate()">
                Cancel
            </button>
            <button class="btn btn-success btn-confirm" type="button" (click)="confirmClickedUpdateLogin()">
                Confirm
            </button>
          </div>
          <br>
        </mat-tab>
      </mat-tab-group>
    <br>
  </div>
</div>
