header {
    background-color: #1f4877;
}

.title-nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 190px;
}

.title-nav-bar img {
    width: 120px; 
    height: 70px;
}
  