.bet-slip {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-color: rgb(214, 214, 214);
}
  
.bet-slip-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.header-panel {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.panel-header {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
}

.dropdown-icon {
    margin-left: 170px; 
}

.bet-slip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: relative;
}
  
.event-description,
.bet-type {
    font-size: 12px;
}

.bet-selection {
    font-weight: bold;
    font-size: 14px;
}
  
.delete-icon {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}
  
.bet-amount-input {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 60px;
}
  
.bet-amount-input input {
    width: 60px;
    height: 25px;
    margin-left: 5px;
}

  
.potential-payout-text {
    font-weight: bold;
    text-align: right;
}

  