<div class="bet-slip" *ngIf="betSelections && betSelections.length > 0">
  <h2 class="bet-slip-header">Bet Slip</h2>

  <div class="alert alert-success" *ngIf="responseMsg"><b>Success: </b> {{responseMsg}}</div>
  <div class="alert alert-danger" *ngIf="errorMsg"><b>Fail: </b>{{errorMsg}}</div>
    <div class="header-panel">
      <h3 class="panel-header" (click)="toggleSelection('singles')">Singles<span class="dropdown-icon"><i
            class="fas fa-angle-down"></i></span></h3>
      <div class="selections" *ngIf="showSinglesSelection">
        <div class="bet-slip-container" *ngFor="let betSelection of betSelections">
          <div class="container" *ngIf="placedBetStatus !== 2 || (betSelection.potentialPayout != 0 && placedBetStatus === 2)">
            <div class="row">
              <div class="col-md-9">
                <p class="event-description">{{ betSelection.eventDesc }}</p>
                <p class="bet-type">{{ sharedVar.mapBetTypeCd(betSelection.betTypeCd) }}</p>
                <p class="bet-selection">{{ betSelection.betSelectionName }} @ {{ betSelection.odds }}</p>
              </div>
                <div class="col-md-3">
                  <p class="delete-icon" *ngIf="placedBetStatus !== 3" (click)="onDeleteBetSelection(betSelection)">&#10005;</p>
                  <span class="bet-amount-input">
                    $<input #betAmountInput type="text" autocomplete="off" maxlength="7" inputmode="numeric"
                      [value]="betSelection.betAmount" *ngIf="placedBetStatus === 1"
                      (input)="onBetAmountChange(betSelection, betAmountInput.value)">
                    <span *ngIf="placedBetStatus !== 1 && betSelection.potentialPayout != 0">{{betSelection.betAmount
                      |
                      number : '1.2-2'}}</span>
                    </span>
                </div>
                <hr>
              </div>
              <div class="row">
                <p class="potential-payout-text">Potential Payout: ${{ betSelection.potentialPayout | number : '1.2-2' }}</p>
              </div>
            </div>
          <br>
          </div>
        </div>
      </div>
      <div class="total-stake-panel">
        <span class="total-stake-section">Total Stake: ${{totalStake}}</span>
      </div>
      <button class="btn btn-success btn-place-bet" *ngIf="placedBetStatus === 1" type="button" (click)="onPlaceBets()"
        [disabled]="!totalStake || totalStake === 0">
        Place Bet
      </button>
      <div class="row" *ngIf="placedBetStatus === 2">
        <div class="col-md-6 d-flex justify-content-center">
          <button class="btn btn-success btn-decline" type="button" (click)="onCancelPlaceBets()">
            Decline
          </button>
        </div>
        <div class="col-md-6 d-flex justify-content-center">
          <button class="btn btn-success btn-confirm" type="button"
            (click)="onFinalConfirmPlaceBets()">
            Confirm
          </button>
      </div>
    </div>

    <!-- <div class="header-panel" (click)="toggleSelection('multiples')">
      <h3 class="panel-header">Multiples<span class="dropdown-icon"><i class="fas fa-angle-down"></i></span></h3>
      <div class="selections" *ngIf="showMultiplesSelection">
        <p>Multiple Bet Selection</p>
      </div>
    </div>  -->
</div>
