<div class="bet-slip">
    <h2 class="bet-slip-header">Bet Slip</h2>
    
    <div *ngIf="betSelections && betSelections.length > 0">
      <div class="header-panel">
        <h3 class="panel-header" (click)="toggleSelection('singles')">Singles<span class="dropdown-icon" ><i class="fas fa-angle-down"></i></span></h3>
        <div class="selections" *ngIf="showSinglesSelection">
          <div class="bet-slip-container" *ngFor="let betSelection of betSelections">
            <div class="container">
              <div class="row">
                <div class="col-md-9">
                  <p class="event-description">{{ betSelection.eventDesc }}</p>
                  <p class="bet-type">{{ sharedVar.mapBetTypeCd(betSelection.betTypeCd) }}</p>
                  <p class="bet-selection">{{ betSelection.betSelectionName }} @ {{ betSelection.odds }}</p>
                </div>
                <div class="col-md-3">
                  <p class="delete-icon" (click)="onDeleteBetSelection(betSelection)">&#10005;</p>
                  <span class="bet-amount-input">$<input type="text" class="form-control" autocomplete="off" min="0" step="0.01" max="99999.99"></span>
                </div>
                <hr>
              </div>
              <div class="row">
                <p class="potential-payout-text">Potential Payout: {{ betSelection.odds * betSelection.betAmount }}</p>
              </div>
            </div>
            <br>
          </div>

        </div>
      </div>
    </div>

    <div *ngIf="!betSelections || betSelections.length == 0">
        <p>Your bet slip is empty.</p>
    </div>
    
    
    <!-- <div class="header-panel" (click)="toggleSelection('multiples')">
      <h3 class="panel-header">Multiples<span class="dropdown-icon"><i class="fas fa-angle-down"></i></span></h3>
      <div class="selections" *ngIf="showMultiplesSelection">
        <p>Multiple Bet Selection</p>
      </div>
    </div>  -->
</div>