<div class="container">
  <div class="row" *ngIf="!authService.isUserLoggedIn()">
    <br>
    <app-account-login></app-account-login>
  </div>

  <div class="row" *ngIf="authService.isUserLoggedIn()">
      <div class="col-md-3">
          <app-account-side-nav (onSelectAccountMenu)="navToAccountMenu($event)"></app-account-side-nav>
      </div>
      <div class="col-md-9">
          <div class="container-fluid">
          <br>
              <div class="card ">
                  <div class="text-left">
                      <h1 class="card-header">Account Overview</h1>
                  </div>
                  <div class="card-body">
                      <label for="label_balance" class="control-label">Balance</label>
                      <div id="label_dashboard_balance_amount" class="dashboard-sidemenu-value">$98.48</div>
                      <label for="label_deposit" class="control-label">Deposit</label>
                      <div id="label_dashboard_deposit_amount" class="dashboard-sidemenu-value">$50</div>
                      <div id="year_to_date" class="text_year_to_date">(Year To Date)</div>
                      <label for="label_withdrawal" class="control-label">Withdrawal</label>
                      <div id="label_dashboard_withdrawal_amount" class="dashboard-sidemenu-value">$20</div>
                      <div id="year_to_date" class="text_year_to_date">(Year To Date)</div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
