<div class="container">
  <div class="row" *ngIf="!authService.isUserLoggedIn()">
    <br>
    <app-account-login></app-account-login>
  </div>

  <div class="row" *ngIf="authService.isUserLoggedIn()">
      <div class="col-md-3">
          <app-account-side-nav (onSelectAccountMenu)="navToAccountMenu($event)"></app-account-side-nav>
      </div>
      <div class="col-md-9">
        <br>
          <div class="container-fluid" *ngIf="selectAccountNavMenu == sharedVar.NAV_MENU_SELECT_ACCOUNT_OVERVIEW">
            <app-account-overview></app-account-overview>
          </div>
          <div class="container-fluid" *ngIf="selectAccountNavMenu == sharedVar.NAV_MENU_SELECT_TRX_HIST">
            <app-trx-hist></app-trx-hist>
          </div>
          <div class="container-fluid" *ngIf="selectAccountNavMenu == sharedVar.NAV_MENU_SELECT_DEPOSITS">
            <app-deposits></app-deposits>
          </div>
          <div class="container-fluid" *ngIf="selectAccountNavMenu == sharedVar.NAV_MENU_SELECT_WITHDRAWALS">
            <app-withdrawals></app-withdrawals>
          </div>
      </div>
  </div>
</div>
