<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/odds" routerLinkActive="active">Odds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/results" routerLinkActive="active">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/account" routerLinkActive="active">Account</a>
          </li>
        </ul>
      </div>
    </nav>
</header>

