<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link main-menu-link" routerLink="/odds" routerLinkActive="active">Odds</a>
          </li>
          <li class="nav-item">
            <a class="nav-link main-menu-link" routerLink="/results" routerLinkActive="active">Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link main-menu-link" routerLink="/account" routerLinkActive="active">Account</a>
          </li>
        </ul>
      </div>

      <div class="right-navbar" *ngIf="authService.isUserLoggedIn()">
        <ul class="navbar-nav">
          <li class="nav-item login-user-textbox">
            <span class="logged-in-text">LOGGED IN</span>
            <i class="fa fa-user user-icon"></i>
            <a class="login-username-tag" routerLink="/account" routerLinkActive="active"> {{authService.getAuthenticationUser()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link main-menu-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </nav>
</header>

