.navbar {
    background-color: #38749e;
}

.navbar-nav {
    margin-left: 20%;
    padding-top: 5px;
}

.nav-item {
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: white;
    background-color: #1588ca;
    cursor: pointer;
}

.active{
    background-color: white;
}
  
