<div class="card" >
    <div class="text-left">
        <h1 class="card-header">Limit Management</h1>
    </div>
    <div class="card-body">
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Deposited:</label>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">$0.00</label>
        <br>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Change Monthly Deposit Limit:</label>
        <br>
        <hr>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Bets:</label>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">$0.00</label>
        <br>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Change Monthly Betting Limit:</label>
        <br>
        <hr>
        <br>
        <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Enter OasisBet Account Password:</label>
    </div>
</div>