<div class="card" >
    <div class="text-left">
        <h1 class="card-header">Limit Management</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="limitMgmtForm">
            <div class="row">
                <label class="control-label col-sm-3 col-md-3 limit-left-section-label-width">Deposited</label>
                <label class="control-label col-sm-6 col-md-6"> </label>
                <label class="control-label col-sm-3 col-md-3 limit-right-section-label-width">Current Limit</label>
            </div>
            <div class="row">
                <label class="control-label col-sm-3 col-md-3 limit-left-section-label-width">$0.00</label>
                <div class="col-sm-6 col-md-6">
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
                <label class="control-label col-sm-3 col-md-3 limit-right-section-label-width">$200.00</label>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-sm-3 col-md-3 limit-left-section-label-width">Change Monthly Deposit Limit</label>
                <div class="col-md-3">
                    <div class="dropdown-section">
                        <select id="depositLimitDropdown"
                          class="form-control limit-dropdown">
                            <option value="deposit_limit_300">$300</option>
                            <option value="deposit_limit_500">$500</option>
                            <option value="deposit_limit_1000">$1000</option>
                            <option value="other">Other</option>
                        </select>
                        <span class="dropdown-icon"><i class="fas fa-angle-down"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">$</span>
                        </div>
                    <input type="" class="form-control limit-left-section-selection-width no-spinner" formControlName="depositLimit" id="deposit_limit_0" name="deposit_limit" required>
                    </div>
                    <label id="deposit_limit_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(depositLimit)}" class="error-text"
                        for="deposit_limit_0">
                        <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(depositLimit)) == 'maxlength'">Maximum length is 20
                        characters</span>
                        <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(depositLimit)) == 'minlength'">Minimum length is 5
                        characters</span>
                        <span *ngIf="depositLimit.hasError('required') && !depositLimit.value && !depositLimit.pristine">This field is
                        required</span>
                    </label>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="row">
                <label class="control-label col-sm-3 col-md-3 limit-left-section-label-width">Bets</label>
                <label class="control-label col-sm-6 col-md-6"></label>
                <label class="control-label col-sm-3 col-md-3 limit-right-section-label-width">Current Limit</label>
            </div>
            <div class="row">
                <label class="control-label col-sm-3 col-md-3 limit-left-section-label-width">$0.00</label>
                <div class="col-sm-6 col-md-6">
                    <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                </div>
                <label class="control-label col-sm-3 col-md-3 limit-right-section-label-width">$200.00</label>
            </div>
            <br>
            <div class="row">
                <label class="control-label col-sm-3 col-md-3 limit-left-section-label-width">Change Monthly Betting Limit</label>
                <div class="col-md-3">
                    <div class="dropdown-section">
                        <select id="betLimitDropdown"
                          class="form-control limit-dropdown">
                            <option value="bet_limit_100">$100</option>
                            <option value="bet_limit_200">$200</option>
                            <option value="bet_limit_300">$300</option>
                            <option value="bet_limit_400">$400</option>
                            <option value="bet_limit_500">$500</option>
                            <option value="other">Other</option>
                        </select>
                        <span class="dropdown-icon"><i class="fas fa-angle-down"></i></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text limit-section-selection-width">$</span>
                        </div>
                    <input type="" class="form-control limit-section-selection-width no-spinner" formControlName="betLimit" id="bet_limit_0" name="bet_limit" required>
                    </div>
                    <label id="bet_limit_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(betLimit)}" class="error-text"
                        for="bet_limit_0">
                        <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(betLimit)) == 'maxlength'">Maximum length is 20
                        characters</span>
                        <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(betLimit)) == 'minlength'">Minimum length is 5
                        characters</span>
                        <span *ngIf="betLimit.hasError('required') && !betLimit.value && !betLimit.pristine">This field is
                        required</span>
                    </label>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="form-group row">
                <label id="PASSWORD_LABEL_1" for="password_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(password)}" class="control-label col-sm-4 limit-left-section-label-width limit-acc-label-text">
                <span id="PASSWORD">Enter OasisBet Account password</span>
                </label>
                <div class="col-md-3">
                <input type="password" class="form-control limit-section-selection-width no-spinner" formControlName="password" id="password_0" name="password" required>
                <label id="password_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(password)}" class="error-text"
                    for="password_0">
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(password)) == 'maxlength'">Maximum length is 20
                    characters</span>
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(password)) == 'minlength'">Minimum length is 5
                    characters</span>
                    <span *ngIf="password.hasError('required') && !password.value && !password.pristine">This field is
                    required</span>
                </label>
                </div>
            </div>
        </form>
        <hr>
        <div mat-dialog-actions align="end">
            <button class="btn btn-danger btn-cancel" type="button" (click)="onCancelSetLimit()">
                Cancel
            </button>
            <button class="btn btn-success btn-confirm" type="button" (click)="onConfirmSetLimit()">
                Confirm
            </button>
        </div>
        <br>
    </div>
</div>