<div class="card" >
    <div class="text-left">
        <h1 class="card-header">Limit Management</h1>
    </div>
    <div class="card-body">
        <form [formGroup]="limitMgmtForm">
            <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Deposited:</label>
            <br>
            <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">$0.00</label>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-1">
                    <label class="control-label limit-section-label-width">Change Monthly Deposit Limit:</label>
                </div>
                <div class="col-md-3">
                    <div class="dropdown-section">
                        <select id="depositLimitDropdown"
                          class="form-control limit-dropdown">
                            <option value="deposit_limit_100">$100</option>
                            <option value="deposit_limit_200">$200</option>
                            <option value="deposit_limit_300">$300</option>
                            <option value="deposit_limit_400">$400</option>
                            <option value="deposit_limit_500">$500</option>
                            <option value="other">Other</option>
                        </select>
                        <span class="dropdown-icon"><i class="fas fa-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">Bets:</label>
            <br>
            <label class="control-label col-xs-6 col-sm-3 col-md-3 limit-section-label-width">$0.00</label>
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 offset-md-1">
                    <label class="control-label limit-section-label-width">Change Monthly Betting Limit:</label>
                </div>
                <div class="col-md-3">
                    <div class="dropdown-section">
                        <select id="betLimitDropdown"
                          class="form-control limit-dropdown">
                            <option value="bet_limit_100">$100</option>
                            <option value="bet_limit_200">$200</option>
                            <option value="bet_limit_300">$300</option>
                            <option value="bet_limit_400">$400</option>
                            <option value="bet_limit_500">$500</option>
                            <option value="other">Other</option>
                        </select>
                        <span class="dropdown-icon"><i class="fas fa-angle-down"></i></span>
                    </div>
                </div>
            </div>
            <br>
            <hr>
            <br>
            <div class="form-group row">
                <label id="PASSWORD_LABEL_1" for="password_0_Label"
                [ngClass]="{'highlightLabel' : fieldIsInvalid(password)}" class="control-label col-sm-4 limit-section-label-width limit-acc-label-text">
                <span id="PASSWORD">Enter OasisBet Account password:</span>
                </label>
                <div class="col-sm-4">
                <input type="password" class="form-control limit-section-selection-width no-spinner" formControlName="password" id="password_0" name="password" required>
                <label id="password_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(password)}" class="error-text"
                    for="password_0">
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(password)) == 'maxlength'">Maximum length is 20
                    characters</span>
                    <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(password)) == 'minlength'">Minimum length is 5
                    characters</span>
                    <span *ngIf="password.hasError('required') && !password.value && !password.pristine">This field is
                    required</span>
                </label>
                </div>
            </div>
        </form>
    </div>
</div>