.bet-selection-text{
    color: #1588ca;
    font-size: 15px;
    font-weight: bold !important;
}

.table-header {
    border: 1px solid black;
}

.btn {
    cursor: pointer;
    z-index: 5;
    position: relative;
    padding: 10px;
    line-height: 5px;
    border: none;
    box-shadow: none;
    width: 110px;
}

.card-subtitle {
    background-color: lightgrey;
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.selected {
    background-color: #1588ca !important; 
    color: white !important;
    font-size: 15px;
    font-weight: bold;
}

.odds-change-up-icon {
    color: rgb(56, 240, 56);
    font-size: 0.8rem;
    margin-left: 4px;
}

.odds-change-down-icon {
    color: red;
    font-size: 0.8rem;
    margin-left: 4px;
}