<div class="alert alert-danger" *ngIf="errorMsg"> <b>Fail: </b> {{errorMsg}}</div>
<div class="card ">
  <div class="text-left">
    <h1 class="card-header">Account Update</h1>
  </div>
  <div class="card-body">
    <hr>
    <form [formGroup]="updateLoginForm">
      <div class="form-group row">
        <label id="OLD_PASSWORD_LABEL_1" for="old_password_0_Label"
          [ngClass]="{'highlightLabel' : fieldIsInvalid(oldPassword)}" class="control-label col-sm-4 password-section-label-width password-acc-label-text">
          <span id="OLD_PASSWORD">Current Password:</span>
        </label>
        <div class="col-sm-4">
          <div class="input-group">
            <div class="input-group-prepend">
            </div>
            <input type="password" class="form-control password-section-selection-width no-spinner" formControlName="oldPassword" id="old_password_0" name="old_password" required>
          </div>
          <label id="old_password_error_0" [ngClass]="{'highlightLabel' : fieldIsInvalid(oldPassword)}" class="error-text"
            for="old_password_0">
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(oldPassword)) == 'maxlength'">Maximum length is 20
              characters</span>
            <span *ngIf="reactiveFormService.fieldErrorPrecedence($any(oldPassword)) == 'minlength'">Minimum length is 5
              characters</span>
            <span *ngIf="oldPassword.hasError('required') && !oldPassword.value && !oldPassword.pristine">This field is
              required</span>
          </label>
        </div>
      </div>
    </form>
    <hr>
  </div>
</div>
