<div class="sidebar">
    <ul>
      <li class="sidebar-item" (click)="selectCompType(sharedVar.API_SOURCE_COMP_TYPE_EPL)">English Premier League</li>
      <li class="sidebar-item" (click)="selectCompType(sharedVar.API_SOURCE_COMP_TYPE_LALIGA)">La Liga</li>
      <li class="sidebar-item" (click)="selectCompType(sharedVar.API_SOURCE_COMP_TYPE_BUNDESLIGA)">Bundesliga</li>
      <li class="sidebar-item" (click)="selectCompType(sharedVar.API_SOURCE_COMP_TYPE_SERIE_A)">Serie A</li>
      <li class="sidebar-item" (click)="selectCompType(sharedVar.API_SOURCE_COMP_TYPE_LIGUE_ONE)">Ligue One</li>
    </ul>
</div> 