<div class="sidebar">
    <ul>
      <li class="sidebar-item" (click)="selectCompType('soccer-epl')">English Premier League</li>
      <li class="sidebar-item" (click)="selectCompType('soccer-laliga')">La Liga</li>
      <li class="sidebar-item" (click)="selectCompType('soccer-bundesliga')">Bundesliga</li>
      <li class="sidebar-item" (click)="selectCompType('soccer-serie-a')">Serie A</li>
      <li class="sidebar-item" (click)="selectCompType('soccer-ligue-one')">Ligue One</li>
    </ul>
</div> 