.withdraw-section-label-width{
    text-align: right;
    font-weight: bold;
}

.withdraw-section-selection-width{
    margin-left: 20px;
}

.withdraw-acc-label-text{
    margin-top: 10px;
}

.link-style {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
}

.link-style:hover {
    color: #0056b3;
    text-decoration: underline;
}