.btn {
    color: #1588ca;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    position: relative;
    padding: 10px;
    margin: -8px;
    line-height: 5px;
    border: none;
    box-shadow: none;
} 

.bet-selection-text{
    font-weight: normal
}