<div class="container">
    <div class="row">
        <div class="col-md-2">
            <app-odds-side-nav (onSelectCompType)="readCompType($event)"></app-odds-side-nav>
        </div>

        <div class="col-md-8">
            <div class="container-fluid">
            <br>
                <div *ngIf="responseMsg" class="alert alert-success">
                    <b>Success: </b> {{responseMsg}}
                </div>
                <div class="card ">
                    <div class="text-left">
                        <h1 class="card-header">{{competitionTypeHdr}}</h1>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid" *ngFor="let date of eventDates">
                          <h3 class="card-subtitle">{{date | date:'EEE, dd MMM yyyy' }}
                          </h3>
                          <table class="table" style="table-layout: fixed; width: 100%;">
                                <thead class= "table-header">
                                    <tr>
                                      <th style="width: 13%;">Time</th>
                                      <th style="width: 12%;">Event ID</th>
                                      <th style="width: 39%;">Event Description</th>
                                      <th style="width: 12%;">Home(1)</th>
                                      <th style="width: 12%;">Draw(X)</th>
                                      <th style="width: 12%;">Away(2)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of eventsMap.get(date)">
                                        <td>{{event.startTime | date:'shortTime'}}</td>
                                        <td>{{event.eventId}}</td>
                                        <td>{{event.eventDesc}}</td>
                                        <td>
                                            <button type="button" class="btn btn-light" [ngClass]="{'selected': event.betSelection.homeSelected}"
                                            [disabled]="disableBets"
                                            (click)="selectBetSelection(event, '01')">
                                                <span class="bet-selection-text">01 | </span> &nbsp;
                                                {{ event.h2hEventOdds.homeOdds | number : '1.2-2' }}
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light" [ngClass]="{'selected': event.betSelection.drawSelected}"
                                            [disabled]="disableBets"
                                            (click)="selectBetSelection(event, '02')">
                                                <span class="bet-selection-text">02 | </span> &nbsp;
                                                {{ event.h2hEventOdds.drawOdds | number : '1.2-2' }}
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light" [ngClass]="{'selected': event.betSelection.awaySelected}"
                                            [disabled]="disableBets"
                                            (click)="selectBetSelection(event, '03')">
                                                <span class="bet-selection-text">03 | </span> &nbsp;
                                                {{ event.h2hEventOdds.awayOdds | number : '1.2-2' }}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf = '!events || events.length == 0'>
                                      <td class='text-center' colspan=12>
                                        No Event(s) Found.
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <app-odds-bet-slip [betSelections]="selectedBets" [initBetSlip]="betSlipSubject.asObservable()"
              [errorMsg]="maxBetMsg"
              (removedBetSelection)="removeBet($event)"
              (enableBets)="onEnableBets()"
              (betSelectionsChange)="updateBetSlip($event)" (removeAllBetSelections)="removeAllBets()">
            </app-odds-bet-slip>
        </div>
    </div>
</div>

