<div class="container">
    <div class="row">
        <div class="col-md-3">
            <app-odds-side-nav (onSelectCompType)="readCompType($event)"></app-odds-side-nav>
        </div>

        <div class="col-md-9">
            <div class="container-fluid">
            <br>
                <div class="card ">
                    <div class="text-left">
                        <h1 class="card-header">{{competitionTypeHdr}}</h1>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid" *ngFor="let date of eventDates">
                          <h3 class="card-subtitle">{{date | date:'EEE, dd MMM yyyy' }}
                          </h3>
                          <table class="table" style="table-layout: fixed; width: 100%;">
                                <thead class= "table-header">
                                    <tr>
                                      <th style="width: 10%;">Time</th>
                                      <th style="width: 15%;">Event ID</th>
                                      <th style="width: 39%;">Event Description</th>
                                      <th style="width: 12%;">Home(1)</th>
                                      <th style="width: 12%;">Draw(X)</th>
                                      <th style="width: 12%;">Away(2)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let event of eventsMap.get(date)">
                                        <td>{{event.startTime | date:'shortTime'}}</td>
                                        <td>{{event.eventId}}</td>
                                        <td>{{event.eventDesc}}</td>
                                        <td>
                                            <button type="button" class="btn btn-light">
                                                <span class="bet-selection-text">01 | </span> &nbsp;
                                                {{ event.h2hEventOdds.homeOdds | number : '1.2-2' }}
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light">
                                                <span class="bet-selection-text">02 | </span> &nbsp;
                                                {{ event.h2hEventOdds.drawOdds | number : '1.2-2' }}
                                            </button>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-light">
                                                <span class="bet-selection-text">03 | </span> &nbsp;
                                                {{ event.h2hEventOdds.awayOdds | number : '1.2-2' }}
                                            </button>
                                        </td>
                                    </tr>
                                    <tr *ngIf = '!events || events.length == 0'>
                                      <td class='text-center' colspan=12>
                                        No Event(s) Found.
                                      </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

